/*base*/

:root{
    --grey:rgb(57, 58, 65);
    --teal: rgb(60, 241, 202);
    --white: rgb(235, 235, 235);
}

*{
    margin: 0;
    padding: 0;
}
section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20vh 0;
}

/*landing page*/
#landing{
    background-color: var(--grey);
    color: var(--white);
    text-align: left;
}



