/*base*/

*{
    margin: 0;
    padding: 0;
    text-align: center;
}
section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5vh 0;
}

/*landing page*/
#landing{
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}



